<p-table
  [lazy]="true"
  (onLazyLoad)="loadData($event)"
  [value]="(currentPageData$ | async)!"
  [first]="first"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [totalRecords]="totalRecords"
  [paginator]="true"
  size="small"
  styleClass="not-prose max-w-3xl mx-auto l-shrink-last-column"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template #header>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-author>
    <tr>
      <td>
        {{ author.mainNameVariant.sorting }}
        @if (author.firstMatchingNameVariant) {
          <em class="text-surface-400 dark:text-surface-500">as {{ author.firstMatchingNameVariant.display }}</em>
        }
      </td>
      <td>
        <p-buttonGroup>
          @if (showInfoButton()) {
            <p-button (click)="onShowAuthorInfo(author._id)" icon="pi pi-info" severity="info" size="small"></p-button>
          }
          @if (showSelectButton()) {
            @if (isSelectedAuthor(author._id)) {
              <p-button (click)="onUnselectAuthor(author._id)" icon="pi pi-check-circle" severity="success"
                        size="small"></p-button>
            } @else {
              <p-button (click)="onSelectAuthor(author._id)" icon="pi pi-check-circle" severity="secondary"
                        size="small"></p-button>
            }
          }
        </p-buttonGroup>
      </td>
    </tr>
  </ng-template>
</p-table>
