<form #authorForm="ngForm" class="flex flex-col gap-2 w-96">
  <p-iftalabel>
    <p-select id="author-type" name="authorType"
              [options]="authorTypeOptions" [(ngModel)]="authorType"
              placeholder="Select the author type" required fluid
              appendTo="body" />
    <label for="author-type">Author type</label>
  </p-iftalabel>
  <p-iftalabel>
    <input id="sorting" name="sorting"
           [(ngModel)]="nameVariantSorting"
           placeholder="Surname, Name"
           (blur)="fillDisplay()"
           pInputText required fluid />
    <label for="sorting">Sorting</label>
  </p-iftalabel>
  <p-iftalabel>
    <input id="display" name="display"
           [(ngModel)]="nameVariantDisplay"
           placeholder="Name Surname"
           pInputText required fluid />
    <label for="display">Display</label>
  </p-iftalabel>
  <p-iftalabel>
    <p-select id="name-variant-type" name="nameVariantType"
              [options]="nameVariantTypeOptions" [(ngModel)]="nameVariantType"
              placeholder="Select the main name variant type" required fluid
              appendTo="body" />
    <label for="name-variant-type">Name variant type</label>
  </p-iftalabel>
  <p-iftalabel>
    <p-select id="localization" name="localization"
              [options]="nameVariantLocalizationOptions" [(ngModel)]="nameVariantLocalization"
              placeholder="Select the main name variant localization" required fluid
              appendTo="body" />
    <label for="name-variant-type">Name variant localization</label>
  </p-iftalabel>
  <p-iftalabel>
    <input id="script" name="script"
           [(ngModel)]="script"
           placeholder="Latn" pattern="[A-Z][a-z]{3}"
           pInputText fluid />
    <label for="script">Script code (ISO 15924)</label>
  </p-iftalabel>
  <p-iftalabel>
    <input id="language" name="language"
           [(ngModel)]="language"
           placeholder="eng" pattern="[a-z]{3}"
           pInputText fluid />
    <label for="language">Language code (ISO 639)</label>
  </p-iftalabel>

  <div class="flex justify-center">
    <p-buttonGroup>
      <ng-content select="p-button, p-splitbutton">
        <p-button label="Save" (click)="saveAuthor()"
                  [icon]="isSavingAuthor ? 'pi pi-spin pi-spinner' : 'pi pi-save'" severity="success"
                  type="submit" [disabled]="isSavingAuthor || authorForm.invalid" />
      </ng-content>
    </p-buttonGroup>
  </div>
</form>
