<p-table [value]="(nameVariants$ | async)!" dataKey="_id">
  <ng-template #header>
    <tr>
      <th>Sorting</th>
      <th>Display</th>
      <th>Type</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-nameVariant>
    <tr>
      <td>
        {{ nameVariant.sorting }}
      </td>
      <td>
        {{ nameVariant.display }}
      </td>
      <td>
        @if (isMainVariant(nameVariant) | async) {
          <p-tag severity="success" icon="pi pi-bookmark" value="main" rounded />
        } @else {
          <p-tag severity="info" [value]="nameVariant.type" rounded />
        }
      </td>
      <td>
        <p-buttonGroup>
          <p-button icon="pi pi-pencil" size="small" severity="secondary"></p-button>
          <p-button icon="pi pi-bookmark" size="small" severity="secondary"
                    (onClick)="onSetMainVariant(nameVariant._id)"
                    [disabled]="isMainVariant(nameVariant) | async"></p-button>
          <p-button icon="pi pi-trash" size="small" severity="danger"
                    pTooltip="The main variant cannot be deleted" tooltipPosition="bottom"
                    [disabled]="isMainVariant(nameVariant) | async"></p-button>
        </p-buttonGroup>
      </td>
    </tr>
  </ng-template>
  <ng-template #footer>
    <p-button icon="pi pi-plus" size="small" severity="success" label="Add"></p-button>
  </ng-template>
</p-table>
