@let nameVariants = (nameVariants$ | async)!;

@if (compactView()) {
  <ul>
    @for (nameVariant of nameVariants; track nameVariant._id) {
      <li>
        {{ nameVariant.display }}
        @if (isMainVariant(nameVariant) | async) {
          <i class="pi pi-bookmark"></i>
        }
        <p-button (click)="info.toggle($event)" icon="pi pi-info-circle" severity="info" [link]="true" />
      </li>
      <p-popover #info>
        <div class="font-bold">
          <strong>Type:</strong> {{ nameVariant.type }}
          @if (isMainVariant(nameVariant) | async) {
            (main variant)
          }
        </div>
        @if (nameVariant.localization && nameVariant.localization !== 'original') {
          <div><strong>Localization:</strong> {{ nameVariant.localization }}</div>
        }
        @if (nameVariant.language) {
          <div><strong>Language code:</strong> {{ nameVariant.language }}</div>
        }
        @if (nameVariant.script) {
          <div><strong>Script code:</strong> {{ nameVariant.script }}</div>
        }

      </p-popover>
    }
  </ul>
} @else {
  <p-table
    [value]="nameVariants"
    dataKey="_id"
    styleClass="not-prose l-shrink-last-column"
  >
    <ng-template #header>
      <tr>
        <th>Sorting</th>
        <th>Display</th>
        <th class="w-40">Type</th>
        <th class="w-40"></th>
      </tr>
    </ng-template>
    <ng-template #body let-nameVariant>
      <tr>
        @let main = (isMainVariant(nameVariant) | async);
        <td>
          {{ nameVariant.sorting }}
        </td>
        <td>
          {{ nameVariant.display }}
        </td>
        <td>
          <div class="flex gap-3">
            <p-tag [severity]="main ? 'success' : 'info'" [icon]="main ? 'pi pi-bookmark' : undefined"
                   [value]="nameVariant.type" rounded />
            @if (nameVariant.localization?.length && nameVariant.localization !== 'original') {
              <p-tag severity="secondary" [value]="nameVariant.localization" rounded />
            }
            @let langAndScript = getLangAndScript(nameVariant);
            @if (langAndScript) {
              <p-tag severity="secondary" [value]="langAndScript" rounded icon="pi pi-language"
                     styleClass="text-nowrap" />
            }
          </div>
        </td>
        <td>
          <p-buttonGroup>
            <p-button icon="pi pi-pencil" size="small" severity="secondary"
                      (click)="openEditDialog(nameVariant)" />
            <p-button icon="pi pi-bookmark" size="small" severity="secondary"
                      [disabled]="main"
                      (click)="onSetMainVariant(nameVariant)" />
            <p-button icon="pi pi-trash" size="small" severity="danger"
                      [pTooltip]="main ? 'The main variant cannot be deleted' : undefined" tooltipPosition="bottom"
                      [disabled]="main"
                      (click)="onDeleteVariant(nameVariant)" />
          </p-buttonGroup>
        </td>
      </tr>
    </ng-template>
  </p-table>
}

<div class="mt-4 flex justify-end">
  <p-buttonGroup>
    <p-button icon="pi pi-plus" size="small" severity="success" label="Add" (click)="openEditDialog()"></p-button>
    <ng-content select="p-button" />
  </p-buttonGroup>
</div>

<p-dialog header="Name Variant" [modal]="true" [(visible)]="showNameVariantDialog" [style]="{ width: '25rem' }">
  <ng-template #header>
    <span class="text-lg font-bold">{{ nameVariant._id ? 'Edit name variant' : 'Add name variant' }}</span>
  </ng-template>

  <form #nameVariantForm="ngForm" id="editForm" class="flex flex-col gap-2">
    <p-iftalabel>
      <input pInputText id="display" [(ngModel)]="nameVariant.display" name="display" required fluid />
      <label for="display">Display</label>
    </p-iftalabel>
    <p-iftalabel>
      <input pInputText id="sorting" [(ngModel)]="nameVariant.sorting" name="sorting" required fluid />
      <label for="sorting">Sorting</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-select id="type" name="type" [(ngModel)]="nameVariant.type"
                [options]="typeOptions" placeholder="Select an option"
                appendTo="body" required fluid />
      <label for="type">Type</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-select id="localization" name="localization" [(ngModel)]="nameVariant.localization"
                [options]="localizationOptions" placeholder="Select an option"
                appendTo="body" required fluid />
      <label for="type">Localization</label>
    </p-iftalabel>
    <p-iftalabel>
      <input id="script" name="script"
             [(ngModel)]="nameVariant.script"
             pattern="[A-Z][a-z]{3}"
             pInputText fluid />
      <label for="script">Script code (ISO 15924)</label>
    </p-iftalabel>
    <p-iftalabel>
      <input id="language" name="language"
             [(ngModel)]="nameVariant.language"
             pattern="[a-z]{3}"
             pInputText fluid />
      <label for="language">Language code (ISO 639)</label>
    </p-iftalabel>
  </form>

  <ng-template #footer>
    <p-buttonGroup>
      <p-button label="Cancel" icon="pi pi-times" severity="secondary" (click)="closeEditDialog()" />
      <p-button label="Save" [icon]="isSavingNameVariant ? 'pi pi-spin pi-spinner' : 'pi pi-save'" severity="success"
                [disabled]="isSavingNameVariant || nameVariantForm.invalid"
                (click)="nameVariant._id ? onSaveNameVariant() : onAddNameVariant()" />
    </p-buttonGroup>
  </ng-template>
</p-dialog>
